<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"  switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging"
              switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization"  switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener"
           traceOutputOptions="LogicalOperationStack"
           initializeData="C:\log\WCFTrace.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
    <system.serviceModel>
      <diagnostics>
        <messageLogging
             logEntireMessage="true"
             logMalformedMessages="false"
             logMessagesAtServiceLevel="true"
             logMessagesAtTransportLevel="false"/>
      </diagnostics>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_INotificationService">
                    <readerQuotas maxDepth="65535" maxStringContentLength="65535"
                        maxArrayLength="65535" maxBytesPerRead="65535" />
                    <security mode="Message">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost/NotificationService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INotificationService"
                contract="NotificationService.INotificationService" name="NetTcpBinding_INotificationService">
                <identity>
                    <dns value="machine-connect.hurco.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <system.web>
    <trust level="Full"/>
  </system.web>
</configuration>